.carrito {
  height: 30px;
  width: 30px;
  padding: 5px;
}

.cw {
  padding: 2px;
  margin: 5px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
}

.bot-cartwidget {
  margin: 5px 0px;
}
