
.card{
    border: 1px solid black;
    border-radius: 0.25rem;
    width: 250px;
}

.card2{
    border: 1px solid black;
    border-radius: 0.25rem;
    width: 100px;
    height: 100px;
    overflow-y: scroll;
}

.card3{
    border: 1px solid black;
    border-radius: 0.25rem;
    width: auto;
    height: auto;
}